#title{
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 20px;
}

#numb1{
    margin-bottom: 10px;
}

#number1{
    width: 50px;
}

#number2{
    width: 50px;
}

#numb2{
    margin-bottom: 20px;
}

#result{
    margin-top: 20px;
    border: 1px solid black;
    height: 30px;
    display: inline-block; 
}